* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}
body {
  background: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8)), url("../images/sky-clouds-cloudy-mountain.jpg") no-repeat center center/cover fixed;
  font: 600 16px/18px 'Open Sans', sans-serif;
  margin: 0;
}
.main-wrapper {
  background: url("../images/sample-bg.jpg") no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  max-width: 525px;
  min-height: 530px;
  position: relative;
  top: 70px;
  width: 100%;
}
.main-wrapper__content {
  background-color: rgba(40, 57, 101, 0.9);
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.main-wrapper__content--signup,
.form__checkbox {
  display: none;
}
.form {
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}
.form__heading {
  margin-top: 70px;
}
.form__field-wrapper {
  position: relative;
  text-align: left;
}
.form__error-message {
  color: #ff0000;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  top: 70px;
}
.form__label {
  font-weight: 400;
  padding-bottom: 15px;
  padding-left: 10px;
}
.form__label--newline {
  display: block;
}
.form__label--bold {
  font-weight: 600;
}
.form__input,
.form__input:focus,
.form__button {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  color: #fff;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 15px;
  width: 100%;
}
.form__button {
  background-color: #1161ee;
  color: #fff;
  margin-top: 35px;
}
.custom-checkbox {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  display: inline-block;
  height: 15px;
  margin-right: 7px;
  position: relative;
  width: 15px;
}
.custom-checkbox:before,
.custom-checkbox:after {
  background: #fff;
  content: '';
  height: 2px;
  position: absolute;
  transition: all .2s ease-in-out 0s;
  width: 10px;
}
.custom-checkbox:before{
  bottom: 6px;
  left: 3px;
  transform: scale(0) rotate(0);
  width: 5px;
}
.custom-checkbox:after{
  right: 0;
  top: 6px;
  transform: scale(0) rotate(0);
}
.form__checkbox:checked + label .custom-checkbox {
  background: #1161ee;
}
.form__checkbox:checked + label .custom-checkbox:before {
  transform: scale(1) rotate(45deg);
}
.form__checkbox:checked + label .custom-checkbox:after{
  transform: scale(1) rotate(-45deg);
}
